version: '3'

services:
  mysql:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: mysqlRootPassword
      MYSQL_DATABASE: databaseName
      MYSQL_USER: userName
      MYSQL_PASSWORD: userNamePassword

  wordpress:
    image: wordpress:5.9.1
    depends_on:
      - mysql
    links:
      - mysql:mysql
    ports:
      - 8080:80
    restart: always
    environment:
      WORDPRESS_DB_PASSOWRD: mysqlRootPassword
